{
  "Version": 2,
  "Mixers": {
    "Guid": "4a769e22-3b61-4e2e-9418-db24c8e133c6",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "30c5f5c6-eeb8-4958-a395-6443ad997626",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "ed2f411b-95b1-443f-9402-c8c40740310c",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "be14b449-a9d8-4fdc-a653-f5f2e60b5dc5",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "5c91e7ec-3ed9-4a20-8965-47793ba58725",
        "Name": "Chat",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "Processors": [],
        "Children": [
          {
            "Guid": "26985619-70ee-42ca-916d-e0dc5cf9c751",
            "Name": "Voice",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "6f2f9dea-4530-4bc0-93ec-2286c40a7459",
            "Name": "TTS",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [],
            "Children": []
          }
        ]
      }
    ]
  },
  "__guid": "729d4dbf-36cd-47a8-8dda-2327a088bab7",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}